/* .page:has(.theme_light:checked)  */
:root.theme-light {
  --title-color: #FFC2E6;
  --text-color: #353430;
  --sub-text-color: #353430;
  --accent-color: #ff8dcb;
  --btn-color:#353430;
  --backgroung-image: url(../images/cover-image-light.png);
}

.theme-light .decorated__rec {
  display: none;
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.40);
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --text-color: #353430;
    --sub-text-color: #353430;
    --accent-color: #FF8DCB;
    --btn-color:#353430;
    --backgroung-image: url(../images/cover-image-light.png);
  }
  .decorated__rec {
    display: none;
  }
  
  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.40);
  }
}  


@media (min-width: 1024px) {
  .big_title {
    text-shadow: 4px 4px 0 #FF0070;
  }
  .footer_title {
    text-shadow: 4px 4px 0 #FF0070;
  }
}