/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: var(--backgroung-image);
  background-color: var(--sub-text-color);
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23.4px;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  padding: 20px;
  height: 100vh;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--btn-color);
  text-align: center;
  background: transparent;
  border: none;
  padding: 0 13px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--btn-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--btn-color);
  pointer-events: none;
}

.decorated__rec {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-right: 8px;
  margin: 20px;
  color: var(--btn-color);
}

.decorated__rec::after {
  display: block;
  content: "";
  background-color: var(--accent-color);
  fill: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.decorated_zone::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
  border-top: 1px solid var(--btn-color);
  border-right: 1px solid var(--btn-color);
}

.decorated_zone::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
  border-left: 1px solid var(--btn-color);
  border-bottom: 1px solid var(--btn-color);
}

.big_title {
  font-weight: 700;
  line-height: 82.5%;
  margin-left: -20px;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

.decor {
  font-weight: 700;
  line-height: 23.4px;
  color: var(--sub-text-color);
  font-size: var(--font-size);
  background-color: var(--accent-color);
}

.header_text {
  max-block-size: 71px;
  max-inline-size: 491px;
  align-self: center;
  justify-self: end;
}

.question {
  font-weight: 700;
  line-height: 23.4px;
  font-size: var(--font-size);
  color: var(--btn-color);
}

.answer_text {
  color: var(--text-color);
  font-size: var(--font-size);
}

.nav_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.nav_link:hover {
  border-bottom: 1px solid var(--text-color);
}

.nav_link:focus {
  outline: none;
} 

.nav_link:focus-visible {
  border: 1px solid var(--text-color);
}

.section_why {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-start: 60px;
  margin: 0 20px;
}

.answers_why {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.answers_why p:first-of-type {
  padding-block-end: 10px;
}

.section_what {
  padding-block-start: 80px;
  padding-block-end: 80px;
  margin: 0 20px;
}

.answer_what {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-block-start: 20px;
  gap: 20px;
}

.question_what {
  max-inline-size: 315px;
}

.answer_title {
  margin-block-end: 10px;
}

.section_how {
  display: grid;
  grid-template-columns: 34% 66%;
  margin: 0 20px;
  padding-block-end: 80px;
}

.advice_title {
  font-weight: 400;
}

.answer_how {
  display: grid;
  gap: 20px;
}

.section_answer_text {
  padding-block-start: 10px;
}

.galery_section {
  padding-block-end: 60px;
}

.decor_image {
  margin: 0 20px 20px 20px;
}

.galery {
  display: grid;
  grid-template-areas: inherit;
  gap: 20px;
  margin: 0 20px;
}

.galery__item {
  block-size: 100%;
  inline-size: 100%;
  object-position: center;
  object-fit: cover;
}

.galery__item:first-of-type {
  grid-column: 1 / 3;
}

.galery__item:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.galery__item:nth-of-type(3) {
  grid-row: 2 / 4;
}

.galery__item:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.galery__item:last-of-type {
  grid-column: 2 / 4;
}

.footer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-block-size: 100vh;
}

.footer_title {
  font-weight: 700;
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

@media (max-width: 768px) {
  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
  }

  .header__text {
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .big_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section_why {
    grid-template-columns: 33% 67%;
    padding-inline-end: 20px;
    gap: 20px;
  }

  .answer_what {
    display: flex;
    flex-direction: column;
    padding-block-start: 20px;
    gap: 20px;
  }

  .question_what {
    max-inline-size: 236px;
  }

  .section_how {
    display: grid;
    grid-template-columns: 35% 65%;
    padding-block-end: 80px;
  }

   .footer {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 560px) {
  .header {
    padding: 10px;
  }

  .big_title {
    margin-left: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header_text {
    max-block-size: 117px;
    max-inline-size: 355px;
  }

  .section_why {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 10px;
    padding: 40px 0 0 0;
  }

  .section_what {
    margin: 0 10px;
    padding-inline-end: 0;
    padding-block-start: 50px;
    padding-block-end: 50px;
  }

  .question_what {
    min-inline-size: 355px;
  }

  .answer_what {
    display: flex;
    flex-direction: column;
  }

  .section_how {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 10px;
    padding-block-end: 50px;
  }

  .galery_section {
    padding: 0 0 40px 0;
  }

  .decor_image {
    margin: 0 10px 10px 10px;
  }

  .galery {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    gap: 10px;
  }

  .footer {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .decorated__rec {
    margin: 10px;
  }

  .decorated_zone::before {
    margin: 10px;
  }

  .decorated_zone::after {
    margin: 10px;
    block-size: 25px;
  }
}