/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --backgroung-image: url(../images/cover-image-dark.png);
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --sub-text-color: #000028;
  --accent-color: #ff0070;
  --font: 'IBM Plex mono', sans-serif;
  --font-size: 18px;
  --btn-color:#ff0070;
}